{% extends 'base.html.twig' %} {% block title %} Accueil {% endblock %} {% block
body %}
<div class="container">
  <div class="jumbotron my-5">
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead">
      This is a simple hero unit, a simple jumbotron-style component for calling
      extra attention to featured content or information.
    </p>
    <hr class="my-4" />
    <p>
      It uses utility classes for typography and spacing to space content out
      within the larger container.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>

  {# Les annonces ! #}
  <h2 class="h1 my-5">Nos appartements!!!</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header text-center">
          2 chambres,
          <strong> 300 &euro; / nuit</strong>
          <br />
        </div>

        <a href="#">
          <img
            src="https://via.placeholder.com/1000x400"
            alt="Image de l'appartement"
            style="height: 200px; width: 100%; display: block"
          />
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Lorem, ipsum dolor. </a>
          </h4>
          <p class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit sit
            corrupti, explicabo reprehenderit alias minima eveniet ratione
            accusamus nostrum quasi in necessitatibus rerum dolor, nisi officiis
            rem amet fuga doloremque?
          </p>
          <a href="#" class="btn btn-primary float-right">En savoir plus !</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
